.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-main {
    position: fixed;
    background-color: white;
    width: 500px;
    height: 300px;
}

.display-block {
    display: flex;
}

.display-none {
    display: none;
}

.category-info-div {
    width: 100%;
    padding-top: 20px;
    height: 60%;
}

.details-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 2%;
}

.label-span {
    font-size: 20px;
    font-weight: 600;
}

.edit-category-input-text {
    width: 40%;
    height: 25px;
    border: solid 2px #387C44;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 1%;
}

.buttons-div {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40%;
    background-color: #387C44;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    margin-right: 5px;
}

.save-button:hover {
    cursor: pointer;
    background-color: #4CC417;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40%;
    background-color: red;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    margin-left: 5px;
}

.close-button:hover {
    cursor: pointer;
    background-color: #4CC417;
}

.modal-title {
    display: flex;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.295);
}
